/* var.css */
:root {
    --vp-c-brand-1: #18794e;
    --vp-c-brand-2: #299764;
    --vp-c-brand-3: #30a46c;
  }
  
  .dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
  }
  /* 以前的vp-c-brand已弃用 */
  
  :root {
    /* hero标题渐变色 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
  
    /*hero logo背景渐变色 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    --vp-home-hero-image-filter: blur(40px);
  }
  
  /* 也可自行单独修改brand按钮 */
  /* :root {
    --vp-button-brand-border: #F6CEEC;
    --vp-button-brand-text: #F6CEEC;
    --vp-button-brand-bg: #D939CD;
  
    --vp-button-brand-hover-border: #F6CEEC;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #D939CD;
  
    --vp-button-brand-active-border: #F6CEEC;
  } */


  h1 {
    background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .marker-text-highlight {
    border-radius: 5px 5px;
    background: transparent;
    color: var(--vp-c-text-soft);
    background: linear-gradient(104deg, rgba(130, 255, 173, 0) 0.9%, rgba(130, 255, 173, 1.25) 2.4%, rgba(130, 255, 173, 0.5) 5.8%, rgba(130, 255, 173, 0.1) 93%, rgba(130, 255, 173, 0.7) 96%, rgba(130, 255, 1732, 0) 98%), linear-gradient(183deg, rgba(130, 255, 173, 0) 0%, rgba(130, 255, 173, 0.3) 7.9%, rgba(130, 255, 173, 0) 15%);
}